/* Styles for the entire to-do list container */
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f6f5f5;
  padding: 20px;
}

/* Styles for the Add Task button container */
.task-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

/* Styles for the Add Task button */
.add-task-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 100px;
}

.add-task-button:hover {
  background-color: #0056b3;
}

/* Styles for the task form */
.task-form {
  width: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

/* Form title styling */
.form-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

/* Grouping form elements */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Styles for input fields */
.form-input,
.form-textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

/* Styles for the text area */
.form-textarea {
  height: 80px;
  resize: none;
}

/* Styles for the submit button */
.submit-task-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-task-button:hover {
  background-color: #06e937;
}

/* Styles for the task list */
.task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Message when no tasks are added */
.no-task-message {
  color: #666;
  font-size: 16px;
  text-align: center;
}

/* Styles for each task box */
.task-box {
  width: 350px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

/* Task title styling */
.task-title {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

/* Styling for task details */
.task-heading {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.task-username {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.task-description {
  font-size: 14px;
  color: #444;
}
